th, td {
  border: 3px solid;
  color: black;
}
th{
  font-size: larger;
} 
h1{
  font-family: 'Young Serif', serif;
  text-align: center;
  color: #35a4bc;
  font-style: normal;
}
tr{
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-style: normal;
}
.planet_image{
  width: 200px;
  height: 200px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.td_title{
  text-align: center;
}
body{
  background-color: #bacbda
}
table{
  border-collapse: collapse;
  text-align: center;
}
td:not(td.title){
  font-family: 'Martian Mono', monospace;
  font-size: 20px;
  font-style: normal;
}
th:nth-child(1), td:nth-child(1){
  background-color: #6b6767
}
th:nth-child(2), td:nth-child(2){
  background-color: #d5ba6b
}
th:nth-child(3), td:nth-child(3){
  background-color: #ea574c
}
th:nth-child(4), td:nth-child(4){
  background-color: #e2ba91
}
th:nth-child(5), td:nth-child(5){
  background-color: #4289bf
}



